/* ---------------------------- */
.home-filter{
    background-color: rgba(0, 0, 0, 0.02);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
  }
  .home-filter-label{
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
  }
  
  .home-filter-btn{
    margin-right: 12px;
  }
  .home-filter-btn-btn{
     min-width: 90px;
  }
  .select-input {
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .select-input__lable{
    font-size:1.4rem ; 
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .select-input-icon{
    font-size: 1.4rem;
    color: rgba(131, 131, 131);
    position: relative;
    top: 1px;
  }
  .select-input:hover .select-input-list{
    display: block;
  }
  .select-input-list{
   position: absolute;
   background-color: var(--white-color);
   top: calc(100% - 8px);
   width: 100%;
   list-style: none;
   right: 0;
   padding-left: 0;
   border-radius: 2px;
   border: 1px solid#f4f2f2;
   display: none;
   z-index: 1;
   animation: fadein ease-in .2s;
  }
  .select-input-list::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    top: -10px;
    right: 0;
  }
  .select-input-list .select-input-list-item:first-child{
    padding: 16px 16px 8px 16px;
  }
  .select-input-list .select-input-list-item:last-child{
    padding: 8px 16px 16px 16px;
  }
  .select-input-list-item:hover .select-input-list-item-link{
    color: var(--primary-color);
  }
  .select-input-list-item-link--active .select-input-list-item-link{
    color: var(--primary-color);   
  }
  .select-input-list-item-link{
   text-decoration: none;
   font-size: 1.4rem;
   width: 100%;
   height: 100%;
   display: block;
   color: var(--text-color);
  }